examples/node-red_get_openweather_json.flows
[{"id":"388691a2.b5872e","type":"tab","label":"inkyWeather - get OpenWeather json","disabled":false,"info":""},{"id":"2759efa5.3a9e58","type":"debug","z":"388691a2.b5872e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":160,"wires":[]},{"id":"b988163c.8eb85","type":"openweathermap","z":"388691a2.b5872e","name":"Innsbruck (curr weather)","wtype":"current","lon":"","lat":"","city":"innsbruck","country":"at","language":"en","x":290,"y":160,"wires":[["483589ff.e9e23","98648dd4.75c56","9ddc0b4b.228a28"]]},{"id":"41b34742.c2428","type":"function","z":"388691a2.b5872e","name":"extract temp and hum","func":"var ext_temp = msg.payload.tempc;\nvar ext_hum = msg.payload.humidity;\n\nmsg1 = { payload : ext_temp };\nmsg2 = { payload : ext_hum }; \n\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":820,"y":220,"wires":[["6b071630.6286c8","2759efa5.3a9e58"],["c9e3e10b.e75c48","2759efa5.3a9e58"]]},{"id":"6b071630.6286c8","type":"influxdb out","z":"388691a2.b5872e","influxdb":"bea9aa4c.a8cb","name":"ext temp","measurement":"ext_temp","precision":"","retentionPolicy":"","x":1060,"y":180,"wires":[]},{"id":"c9e3e10b.e75c48","type":"influxdb out","z":"388691a2.b5872e","influxdb":"bea9aa4c.a8cb","name":"ext humidity","measurement":"ext_hum","precision":"","retentionPolicy":"","x":1070,"y":240,"wires":[]},{"id":"483589ff.e9e23","type":"trigger","z":"388691a2.b5872e","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-5","extend":true,"units":"s","reset":"","bytopic":"all","name":"fill the graph","x":550,"y":160,"wires":[["e31e3762.07e2a","41b34742.c2428"]]},{"id":"e31e3762.07e2a","type":"debug","z":"388691a2.b5872e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":100,"wires":[]},{"id":"98648dd4.75c56","type":"debug","z":"388691a2.b5872e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":100,"wires":[]},{"id":"4517bb33.a4bdbc","type":"inject","z":"388691a2.b5872e","name":"every 1 minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["b988163c.8eb85"]]},{"id":"9ddc0b4b.228a28","type":"json","z":"388691a2.b5872e","name":"","property":"payload","action":"","pretty":false,"x":270,"y":220,"wires":[["4fa1bbeb.cf1554","2e767648.09ae22","afcf460f.a1fdd"]]},{"id":"fab5021d.7b9fb","type":"http request","z":"388691a2.b5872e","name":"Open weather Innsbruck forecast (5d/3h)","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.openweathermap.org/data/2.5/forecast?q=innsbruck,at&units=metric&appid=d4cd41d3e53d0655dd306b6ccf3efc63","tls":"","proxy":"","authType":"","x":440,"y":380,"wires":[["34bd7554.69807a"]]},{"id":"821e6369.a1e3d8","type":"inject","z":"388691a2.b5872e","name":"every 1 hour","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":380,"wires":[["fab5021d.7b9fb"]]},{"id":"7551b204.65b0dc","type":"debug","z":"388691a2.b5872e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":440,"wires":[]},{"id":"4fa1bbeb.cf1554","type":"influxdb out","z":"388691a2.b5872e","influxdb":"bea9aa4c.a8cb","name":"openweather: weather in Innsbruck","measurement":"weather_innsbruck","precision":"","retentionPolicy":"","x":520,"y":220,"wires":[]},{"id":"d973fba5.74157","type":"mqtt out","z":"388691a2.b5872e","name":"innsbruck forecast json","topic":"forecast","qos":"","retain":"true","broker":"cfcdfe77.2bb4f8","x":930,"y":380,"wires":[]},{"id":"34bd7554.69807a","type":"json","z":"388691a2.b5872e","name":"","property":"payload","action":"","pretty":true,"x":730,"y":380,"wires":[["d973fba5.74157","7551b204.65b0dc"]]},{"id":"2e767648.09ae22","type":"mqtt out","z":"388691a2.b5872e","name":"innsbruck weather json","topic":"weather","qos":"","retain":"true","broker":"cfcdfe77.2bb4f8","x":490,"y":260,"wires":[]},{"id":"afcf460f.a1fdd","type":"debug","z":"388691a2.b5872e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":300,"wires":[]},{"id":"9d5796db.548e98","type":"openweathermap","z":"388691a2.b5872e","name":"Innsbruck (5d forecast)","wtype":"forecast","lon":"","lat":"","city":"innsbruck","country":"at","language":"en","x":430,"y":420,"wires":[[]]},{"id":"e250fdd4.d59168","type":"comment","z":"388691a2.b5872e","name":"5d forecast: incorrect json","info":"The query to the 5 day forecast service by the OpenWeather flow, generates an incorrect json (surrounded by '[' and ']')","x":170,"y":440,"wires":[]},{"id":"bea9aa4c.a8cb","type":"influxdb","z":"","hostname":"10.101.1.1","port":"8086","protocol":"http","database":"roomweather","name":"","usetls":false,"tls":""},{"id":"cfcdfe77.2bb4f8","type":"mqtt-broker","z":"","name":"Xor","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]

